*{
    
    margin: 0%;
    padding: 0%;
}
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }
.piePagina{

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
      
}
.foot_ul_responsive{
    display: none;
}
nav{
    background-color: white;
}
.foot_li{
    display: inline-block;
    padding: 20px;

}
.textfoot{
    color: gray;
}
.foot_li a:hover{
    color: blue;
}
.foot_face{
    display: inline-block;
}
.face{
    position:absolute ;
    left: 83%;
    font-size: 40px;
    color: black;
}
.twitter{
    position: absolute;
    left: 79%;
    font-size: 40px;
    color: black;
}
.foot_ul_responsive{
    text-align: center;
}
.foot_responsive{
    padding: 2%;
    display: block;
}
.face_responsive{
    font-size: 30px;
    color: black;
}
.face_responsive{
    font-size: 30px;
    color: black;
}
.twitter_responsive{
    font-size: 30px;
    color: black;
}
#ColorInicio{
    color: black;
    }
#ColorProductos{
    color: black;
    }
#ColorServicios{
    color: black;
    }
#ColorNosotros{
    color: black;
    }
#ColorContacto{
    color: black;
    }
    #ColorInicio:hover{
        color: blue;
        }
    #ColorProductos:hover{
        color: blue;
        }
    #ColorServicios:hover{
        color: blue;
        }
    #ColorNosotros:hover{
        color: blue;
        }
    #ColorContacto:hover{
        color: blue;
        }   
@media only screen and (max-width: 1070px){
    .face{
        left: 85%;
    }
    .twitter{
        left: 81%;
    }
}
@media only screen and (max-width: 600px){
    .foot_ul{
        display: none;
    }
    .foot_ul_responsive{
        display: block;
    }
}
#producto{
   

    padding:2px;

}
#total{
    

    padding:2px;

}
#btn{
    height:50px; 
    width:200px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:65%;
}
@media only screen and (max-width: 500px){
    #btn {
       font-size: 10px;
       position:relative;
       top:50%; 
       left:60%;
       right:12% ;
       max-width:20% ;
     }
   }
   @media only screen and (max-width: 1px){
    #table {
       font-size: 10px;
       position:relative;
       top:50%; 
       left:10%;
       right:5% ;
       max-width:20% ;
     }
   }
   @media only screen and (max-width: 1px){
    #total {
       font-size: 10px;
       position:relative;
       top:50%; 
       left:10%;
       right:5% ;
       max-width:20% ;
     }
   }
#product1{
 width: 300px;
}
#cant{
    width: 300px;
   }
   #precio{
    width: 300px;
   }
   #numeracion{
    width: 20px;
   }
   #iva{
    width: 0.5px;
   }
   #costo{
    width: 20px;
   }
   #producto{
    font-size: 14px;
    position:relative;
    top:50%; 
    left:33%;
    max-width:40% ;

  }
  #product{
    width: 20px;
   }